<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="tracker-id" content="vue-demo" />
    <title>Document</title>
    <link rel="stylesheet" href="./lib/element.css" />
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/@zyf2e/capsule-ui/lib/theme-chalk/index.css" />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/@zyf2e/capsule-ui/lib/index.js"></script>
    <script src="../dist/Telescope.min.js" tracker-key="eyJwcm9qZWN0SWQiOjJ9"></script>
    <style></style>
  </head>
  <body>
    <script src="./lib/vue.js"></script>
    <script src="./lib/element.js"></script>
    <div id="app">
      <template>
        <div v-track-page="{trackId:'zz1', patientId:'qweqweqwe', custom: { patientId:'qweqweqwe'}}">
          <div v-for="o in 50" :key="o" class="text item">滚动</div>
          <!-- <el-card id="vvv" class="box-card" v-track-view="{trackId:'vvvvvv'}"> -->
          <el-card id="vvv" class="box-card">
            <div v-for="o in 4" :key="o" class="text item">v-show文本</div>
          </el-card>
          <el-button @click="trackViewEnd" type="primary">结束视区</el-button>

          <!-- <el-carousel height="150px">
            <el-carousel-item v-for="item in 4" :key="item" v-track-view="{trackId: 'welling:'+item}">
              <h3 class="small">{{ item }}</h3>
            </el-carousel-item>
          </el-carousel> -->

          <p v-track-page="{trackId:'zz2'}" v-if="value7">v-if文本文本文本文本文本</p>

          <el-button @click="value7=!value7" type="primary">切换显示</el-button>
          <el-button type="primary" id="aaa" v-track-event.focus="{trackId:'aa1'}">focus</el-button>
          <el-button type="primary" id="bbbb" v-track-event.click="'aa3'">提交</el-button>
          <a type="primary" id="ccc" href="http://www.baidu.com" v-track-event="'aa4'">链接</a>
          <el-button type="primary" class="aaaaa" @click="handleClick">取消</el-button>
          <br />
          <br />
          <br />
          <br />

          <br />
          <br />
          <br />
          <br />

          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </template>
    </div>
    <!-- <div class='tracker-analyse-console-wrapper'>

  </div> -->
  </body>
  <script>
    Vue.directive('track-event', Telescope.vTrackEvent);
    Vue.directive('track-view', Telescope.vTrackView);
    Vue.directive('track-page', Telescope.vTrackPage);
    Telescope.setConfig({ autoTrakerClick: true });
    Telescope.login({ uid: 1234 });

    var Main = {
      data() {
        return {
          trackId: 'dsd',
          value7: false
        };
      },
      mounted() {
        const vvv = document.getElementById('vvv');
        setTimeout(() => {
          Telescope.trackViewStart({ trackId: 'vvv' });
        }, 1000);
      },
      methods: {
        handleClick() {
          console.log('cccccccc');
          Telescope.trackEvent({
            trackId: 'aa5',
            custom: { bbb: 1, ccc: true },
            score: 29
          });

          Telescope.trackLog({
            trackKey: 'nokeyfornow',
            trackNothing: 'ggg',
            custom: { i: 'am', log: true }
          });
        },
        trackViewEnd() {
          Telescope.trackViewEnd('vvv');
        }
      }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
  </script>
</html>
