stages:
  - install_deps
  - depoly

cache:
  paths:
    - node_modules/

install_deps:
  stage: install_deps
  script:
    - npm i
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^qatest/'
    - if: '$CI_COMMIT_BRANCH =~ /^pre-release/'
    - if: '$CI_COMMIT_TAG'
  tags:
    - node:12.14

  depoly_qa:
    stage: depoly
    script:
      - devops dp --buildCommand=build:dev
    rules:
      - if: '$CI_COMMIT_BRANCH =~ /^qatest/'
    tags:
      - node:12.14

  depoly:
    stage: depoly
    script:
      - devops dp
    rules:
      - if: '$CI_COMMIT_TAG'
    tags:
      - node:12.14
